body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
  
  }
  
  .pimg1, .pimg2, .pimg3{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('../img/headd.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('../img/tengahh.jpg');
    min-height: 73%;
  }
  
  .pimg3{
    background-image:url('../img/bawah.jpg');
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .topnav {
    background-color: white; opacity: 0.7;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
  }
  
  .topnav a {
    float: left;
    color: #C7A4BF;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: transparent;
    color: #7b506f;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: transparent;
    color: black;
  }

  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#7b506f;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }

  .tombol {
    text-align: center;
  }

  .button {
    background-color: transparent;
    border: 2px solid #7b506f;
    border-radius: 0.3cm;
    color: #7b506f;
    text-align: center; 
    font-size: 27px;
    padding: 8px 30px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

  .tombol button:hover {
    background-color: #f7c59e;
    color: #7b506f;
  }

  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

  /* Three image containers*/
  .column {
    float: left;
    width: 32.3%;
    padding-right: 1%;
    padding-left: 0%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

  .footer {
    background-color: white; opacity: 0.95;
    color: #7b506f;
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 200px;
  }

  .footer a {
    color: #7b506f;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 24px;
  }

  .footer a:hover {
    color: #000;
  }

  .col {
      float: left;
      text-align: center;
      padding-top: 1.5%;
      width: 100%;
      padding-right: 1%;
      padding-left: 0%;
      vertical-align: middle;
    }
  
  .ro::after {
      content: "";
      clear: both;
      display: table;
    }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  